body, html {
    height: 100%;
    margin: 0;
  }

  .bg {
    /* The image used */
    background-image: url("../images/ghettoblasterlight.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1, h2, h3, li{
      color: #f706ce;
      font-family: Georgia, 'Times New Roman', Times, serif;
      
  }






.container-fluid{
    
    text-align: center;
    padding: 5px;
    /* padding: 5px;
    margin-left: 190px;
    margin-right: 190px; */
    margin-top: 20px;
    
    background-image: linear-gradient(#e8f8f4, #95f5e1 );
    
    opacity: .7;
    border-style: solid;
    border-color: #f5d2ea;
    border-width: 1px;
    border-radius: 15px;
    
    
    

}

.quiz, .summary{
    display: none;
}

.quiz ul{
    list-style: none;
    padding: 0;

}

.quiz li{
    cursor: pointer;
}

.selected {
    background-color: yellow;
}